<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>visualrecognitionApi_key</key>
        <string>Mik2ksW3eWi5d4_9yDX6ZFbNW_UoJMVQ4tPsSO4KH5hi</string>
    </dict>
</plist>
